body {
    font-family: 'Century Gothic', Arial, Tahoma, sans-serif;
}

.container {
    background-color: #555;
    width: 100%;
    margin: 0 auto;
    height: 400px;
    display: flex;
}

.item {
    color: white;
}

.item1 {
    background-color: #d02;
    flex-grow: 1;
}

.item2 {
    background-color: #138;
    flex-grow: 3;
}

.item3 {
    background-color: #262;
    flex-grow: 1;
}